<div class="content">
  <app-carousel></app-carousel>
  <div class="home-content">
    <p class="text-align-center">Beauty. What does it mean? Putting on makeup? Applying
      skincare routinely? Catching the eyes of strangers? Beauty can be interpreted in so many ways. But for some reason
      when many hear the word beauty they immediately go to the physical aspects. Beauty can be considered shallow or
      indulgent. The word beauty leads to thoughts of department store aisles, models, and maybe even for some, Beauty
      and
      The Beast.</p>
    <p class="text-align-center">But Webster defines beauty as… the quality or aggregate of qualities in a person or
      thing that gives pleasure to the senses or pleasurably exalts the mind or spirit. Beauty is more than what is on
      the surface. It refers to qualities both internal and external.<br>This made me curious about how individual women
      thought of beauty. From a societal level, you can obviously infer that the public loves beautiful people and
      beautiful things, yet they also seem so critical of those that put effort into their appearance. But in our
      everyday lives what do women think beauty actually means?</p>
    <p class="text-align-center">I was intrigued by the idea that some women may think of beauty as solely external. And
      others I expected to elaborate on a more personal definition. I didn’t know if a woman’s age, race, or social
      status would alter her opinions. To properly delve into this idea,&nbsp; I asked some women from different
      cultures, backgrounds, and ages to weigh in. But the outcome was even better than I hypothesized.<br>I asked these
      women to explain what beauty means to them in one sentence or less.</p>
    <p class="text-align-center">It seems that beauty is a mindset. You can feel like a queen, feel powerful, strong,
      and beautiful, through appreciating yourself, both your favorite and least favorite parts. Of course having that
      confidence is not always easy, as a matter of fact, it can be tremendously hard, especially when our society
      focuses so much on physical beauty. Acne issues, weight struggles, and hundreds of more problems women carry with
      them everyday affect our beauty.</p>
    <p class="text-align-center">But the important thing to remember in the context of this article is that whatever you
      need to do to gain that confidence is your choice. If you want to put on makeup to cover acne or wear certain
      clothes to feel more comfortable then do it. You can appreciate and love your curves, imperfections, and
      everything you and the world are critical of whilst still making choices that adds to your confidence. That is
      what gives beauty a feminist power. Making the decision to cover up a spot or darken your roots, is your right to
      beauty as a woman. Play up your look or tone it down, either way it is beautiful.</p>
    <p class="text-align-center">But as you go through these evolutions, don't forget to take the time to look inwards
      and assess the whys of your struggles with beauty, pinpoint the pains, and rationalize them. This will help you
      navigate life a bit better.</p>
  </div>

</div>
