<footer class="container-fluid footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-4 col-lg-4 mr-auto my-0 mt-1 mb-0">
        <h5 class="font-weight-bold text-uppercase mb-2 mt-1 ">About us</h5>
        <p>Info World is a supplier of IT solutions mainly dedicated to the health sector, and a supplier
          of customized modular integrated solutions for both clinical and economic management of healthcare
          facilities. </p>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-sm-12 col-md-4 col-lg-4 mx-auto my-0 mt-1 mb-0">
        <h5 class="font-weight-bold text-uppercase mb-2 mt-1">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p class="list mb-1">
              <i class="fa fa-home"></i> Chisinau, bd. Stefan cel Mare, 202/2
            </p>
          </li>
          <li>
            <p class="list mb-1">
              <i class="fa fa-envelope"></i> info@infoworld.ro
            </p>
          </li>
          <li>
            <p class="list mb-1">
              <i class="fa fa-phone"></i> +373 22 286258
            </p>
          </li>
          <li>
            <p class="list mb-1">
              <i class="fa fa-print"></i> +373 22 286258
            </p>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-sm-12 col-md-4 col-lg-4 text-center mx-auto my-2">
        <h5 class="font-weight-bold text-uppercase mb-2 mt-1">Follow Us</h5>
        <div class="col-lg-6  text-center mx-auto my-2 px-3">
          <a href="https://ro-ro.facebook.com/pages/category/Computer-Company/Info-World-135520659868906/">
            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
          </a>
          <a href="https://twitter.com/infoworldro">
            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
          </a>
        </div>
        <div class="col-lg-6  text-center mx-auto my-2 px-3">
          <a href="https://www.linkedin.com/company/info-world">
            <i id="social-lk" class="fa fa-linkedin-square fa-3x social"></i>
          </a>
          <a href="https://www.infoworld.ro/">
            <i id="social-ws" class="fa fa-globe fa-3x social"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center   mt-0 pt-0 pb-2">© 2019 All right reserved.</div>

</footer>
